USE [master]
GO
/****** Object:  Database [GroupStudy]    Script Date: 6/30/2023 10:52:41 AM ******/
CREATE DATABASE [GroupStudy]
GO
USE [GroupStudy]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 6/30/2023 10:52:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[commentId] [int] IDENTITY(1,1) NOT NULL,
	[groupID] [int] NOT NULL,
	[userId] [int] NOT NULL,
	[comment] [text] NOT NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[commentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Group]    Script Date: 6/30/2023 10:52:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group](
	[groupId] [int] IDENTITY(1,1) NOT NULL,
	[subjectId] [varchar](10) NOT NULL,
	[size] [int] NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_Group] PRIMARY KEY CLUSTERED 
(
	[groupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Participant]    Script Date: 6/30/2023 10:52:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Participant](
	[userId] [int] NOT NULL,
	[groupId] [int] NOT NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK_Participant] PRIMARY KEY CLUSTERED 
(
	[userId] ASC,
	[groupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 6/30/2023 10:52:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[roleId] [int] IDENTITY(1,1) NOT NULL,
	[roleName] [varchar](50) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[roleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slot]    Script Date: 6/30/2023 10:52:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slot](
	[slotId] [int] IDENTITY(1,1) NOT NULL,
	[groupId] [int] NULL,
	[slotIndex] [varchar](50) NULL,
	[slotName] [varchar](50) NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_Slot] PRIMARY KEY CLUSTERED 
(
	[slotId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudyMaterial]    Script Date: 6/30/2023 10:52:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudyMaterial](
	[studyMaterialID] [int] IDENTITY(1,1) NOT NULL,
	[slotId] [int] NULL,
	[title] [varchar](50) NULL,
	[content] [text] NULL,
	[link] [varchar](100) NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_StudyMaterial] PRIMARY KEY CLUSTERED 
(
	[studyMaterialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 6/30/2023 10:52:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[subjectId] [varchar](10) NOT NULL,
	[subjectName] [varchar](50) NULL,
	[description] [text] NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_Subject] PRIMARY KEY CLUSTERED 
(
	[subjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 6/30/2023 10:52:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[userId] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[password] [varchar](50) NULL,
	[birthday] [date] NULL,
	[address] [varchar](50) NULL,
	[roleId] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Comment] ON 

INSERT [dbo].[Comment] ([commentId], [groupID], [userId], [comment]) VALUES (1, 1, 1, N'bai nay lam sao')
INSERT [dbo].[Comment] ([commentId], [groupID], [userId], [comment]) VALUES (2, 1, 2, N'hong biet nua')
INSERT [dbo].[Comment] ([commentId], [groupID], [userId], [comment]) VALUES (4, 1, 5, N'hihi')
SET IDENTITY_INSERT [dbo].[Comment] OFF
GO
SET IDENTITY_INSERT [dbo].[Group] ON 

INSERT [dbo].[Group] ([groupId], [subjectId], [size], [status]) VALUES (1, N'PRJ301', 10, 1)
INSERT [dbo].[Group] ([groupId], [subjectId], [size], [status]) VALUES (2, N'PRN211', 6, 0)
INSERT [dbo].[Group] ([groupId], [subjectId], [size], [status]) VALUES (3, N'DBI202', 22, 1)
SET IDENTITY_INSERT [dbo].[Group] OFF
GO
INSERT [dbo].[Participant] ([userId], [groupId], [status]) VALUES (1, 1, 1)
INSERT [dbo].[Participant] ([userId], [groupId], [status]) VALUES (1, 2, 1)
INSERT [dbo].[Participant] ([userId], [groupId], [status]) VALUES (1, 4, 1)
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([roleId], [roleName]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([roleId], [roleName]) VALUES (2, N'Student')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Slot] ON 

INSERT [dbo].[Slot] ([slotId], [groupId], [slotIndex], [slotName], [status]) VALUES (1, 1, N'1', N'Basic Web Application, Servlet', 1)
INSERT [dbo].[Slot] ([slotId], [groupId], [slotIndex], [slotName], [status]) VALUES (2, 1, N'2', N'JDBC', 1)
INSERT [dbo].[Slot] ([slotId], [groupId], [slotIndex], [slotName], [status]) VALUES (3, 1, N'3', N'Java Server Pages', 1)
SET IDENTITY_INSERT [dbo].[Slot] OFF
GO
SET IDENTITY_INSERT [dbo].[StudyMaterial] ON 

INSERT [dbo].[StudyMaterial] ([studyMaterialID], [slotId], [title], [content], [link], [status]) VALUES (1, 1, N'What is HTML? ', N'HTML is a language for describing web pages.
HTML stands for Hyper Text Markup Language.
HTML is not a programming language, it is a markup language.
A markup language is a set of markup tags.
HTML uses markup tags to describe web pages.', NULL, 1)
INSERT [dbo].[StudyMaterial] ([studyMaterialID], [slotId], [title], [content], [link], [status]) VALUES (2, 1, N'HTML Tags', N'HTML markup tags are usually called HTML tags: HTML tags are keywords surrounded by angle brackets like <html>.
HTML tags normally come in pairs like <b> and </b>.
The first tag in a pair is the start tag, the second tag is the end tag.
Start and end tags are also called opening tags and closing tags.', NULL, 1)
INSERT [dbo].[StudyMaterial] ([studyMaterialID], [slotId], [title], [content], [link], [status]) VALUES (3, 1, N'HTML Documents = Web Pages ', N'HTML documents describe web pages. 
HTML documents contain. HTML tags and plain text.
HTML documents are also called web pages.', NULL, 1)
INSERT [dbo].[StudyMaterial] ([studyMaterialID], [slotId], [title], [content], [link], [status]) VALUES (7, 1, N'HTTP Method', N'GET - retrieves the resource identified by the request URL. 
HEAD - returns the headers identified by the request URL. 
POST - sends data of unlimited length to the web server. 
PUT - stores a resource under the request URL. 
DELETE - removes the resource identified by the request URL. 
OPTIONS - returns the HTTP methods the server supports. 
TRACE - returns the header fields sent with the TRACE request.', NULL, 1)
INSERT [dbo].[StudyMaterial] ([studyMaterialID], [slotId], [title], [content], [link], [status]) VALUES (10, 2, N'Common DML queries:
', N'SELECT columns FROM tables WHERE condition
UPDATE table SET column=value,… Where condition
DELETE FROM table WHERE condition 
INSERT INTO table Values ( val1, val2,…)
INSERT INTO table (col1, col2,…) Values ( val1, val2,…)', NULL, 1)
SET IDENTITY_INSERT [dbo].[StudyMaterial] OFF
GO
INSERT [dbo].[Subject] ([subjectId], [subjectName], [description], [status]) VALUES (N'DBI202', N'Database', N'Introducing database with SQL Server', 1)
INSERT [dbo].[Subject] ([subjectId], [subjectName], [description], [status]) VALUES (N'PRJ301', N'Java Web', N'Java Web with model MVC', 1)
INSERT [dbo].[Subject] ([subjectId], [subjectName], [description], [status]) VALUES (N'PRN211', N'C Sharp Basic', N'Programming cross-flatform', 1)
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([userId], [username], [email], [password], [birthday], [address], [roleId]) VALUES (1, N'hieuht', N'hieuht@gmail.com', N'1', CAST(N'2008-11-11' AS Date), N'Long An', 2)
INSERT [dbo].[User] ([userId], [username], [email], [password], [birthday], [address], [roleId]) VALUES (2, N'quanntn', N'quanntn@gmail.com', N'1', CAST(N'1998-08-29' AS Date), N'HCM', 2)
INSERT [dbo].[User] ([userId], [username], [email], [password], [birthday], [address], [roleId]) VALUES (3, N'datbh', N'datbh@gmail.com', N'1', CAST(N'2005-07-02' AS Date), N'Vung Tau', 2)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Group] FOREIGN KEY([groupID])
REFERENCES [dbo].[Group] ([groupId])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Group]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_User1] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([userId])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_User1]
GO
ALTER TABLE [dbo].[Group]  WITH CHECK ADD  CONSTRAINT [FK_Group_Subject] FOREIGN KEY([subjectId])
REFERENCES [dbo].[Subject] ([subjectId])
GO
ALTER TABLE [dbo].[Group] CHECK CONSTRAINT [FK_Group_Subject]
GO
ALTER TABLE [dbo].[Participant]  WITH CHECK ADD  CONSTRAINT [FK_Participant_Group] FOREIGN KEY([groupId])
REFERENCES [dbo].[Group] ([groupId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Participant] CHECK CONSTRAINT [FK_Participant_Group]
GO
ALTER TABLE [dbo].[Participant]  WITH CHECK ADD  CONSTRAINT [FK_Participant_User] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([userId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Participant] CHECK CONSTRAINT [FK_Participant_User]
GO
ALTER TABLE [dbo].[Slot]  WITH CHECK ADD  CONSTRAINT [FK_Slot_Group] FOREIGN KEY([groupId])
REFERENCES [dbo].[Group] ([groupId])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Slot] CHECK CONSTRAINT [FK_Slot_Group]
GO
ALTER TABLE [dbo].[StudyMaterial]  WITH CHECK ADD  CONSTRAINT [FK_StudyMaterial_Slot] FOREIGN KEY([slotId])
REFERENCES [dbo].[Slot] ([slotId])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[StudyMaterial] CHECK CONSTRAINT [FK_StudyMaterial_Slot]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([roleId])
REFERENCES [dbo].[Role] ([roleId])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
